div.vertical-timeline {
  margin: 1rem auto;
  padding: 1rem 0;
}

div.vertical-timeline::before {
  background: #D0F0C0;
  border-radius: 5px;
}

div.vertical-timeline-element-content {
  background-color: #D0F0C0;
}

.vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #D0F0C0, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
}

.vertical-timeline-element-content::before {
  border-right-color: #D0F0C0;
}

.vertical-timeline-element-content p {
  color: #0b6623;
}

.vertical-timeline-element-content a {
  color: #0b6623;
  font-weight: bold;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline.vertical-timeline--two-columns {
    margin-top: 1rem;
  }

  .vertical-timeline--two-columns .vertical-timeline-element-content {
    width: 45%;
  }

  .vertical-timeline--two-columns .vertical-timeline-element-content::before {
    border-left-color: #D0F0C0;
  }

  .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content::before, .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content::before {
    border-right-color: #D0F0C0;
  }

  .vertical-timeline-element-icon svg.fa-graduation-cap {
    margin-left: -14px;
  }
}

@media (max-width: 1170px) {
  .vertical-timeline-element-icon svg {
    width: 22px!important;
    margin-left: -11px;
  }
}